@import './reset.css';
@import './base.css';

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

main {
  min-height: 100%;
  width: calc(100% - 64px);
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding-left: 64px;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 16px;
}
